/*

*/
$menu-and-link-font: 'Raleway';

$link-color : #7f8fa6;
$link-color-activated:#c0392b;

$overlay-color: #b2bec3;

$mark-color:#b2bec3;

$background-color: #ecf0f1;

$overlay-section-color-1: #2f3640;
$overlay-section-color-2: #dcdde1;
$overlay-section-color-3: #bdc3c7;