/*

*/
main
{


}

section
{
  margin-top: 24px;
  margin-bottom: 24px;
}


section:first-child
{
  margin-top: 0px;
}

section:last-child
{
  margin-bottom: 0px;
}

#frontpage-project-area
{


  width: 100%;
}

#frontpage-filter-area
{

}

#frontpage-filter-area ul
{
  display: flex;
  justify-content: space-between;

  padding: 0px;

  margin: 0px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.activated-menu-option
{
  background-color: #c0392b;
  border: 1px solid rgba(0, 0, 0, 0.0) !important;
  color: white;

}

#frontpage-filter-area ul li
{
  @extend %not-selectable;
  @extend %menu-option;
  
  list-style: none;

  padding-top: 8px;
  padding-bottom: 8px;

  padding-left: 32px;
  padding-right: 32px;

  border: 1px solid #b2bec3;
  font-weight: bold;
}

#frontpage-filter-area ul li p
{
  margin: 0px;
  padding: 0px;

  font-size: 12px;
  text-transform: uppercase;
  font-family:$menu-and-link-font;
}

.card-container
{
  height: 340px;
  display: grid;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;

  grid-gap: 0px;
}

.card
{

}

.section-name
{
  font-size: 24px;
  font-family: 'raleway';
  font-weight: bold;
  text-align: center;
  margin-bottom: 12px;
}

.overlay
{
  background-color: #b2bec3;
}
