/*

*/

.social-menu
{
  width: 100%;

  margin-top: 16px;
  margin-bottom: 16px;

  justify-content: center;
  display: flex;
}

.social-menu li
{
  list-style: none;

  margin-left: 16px;
  margin-right: 16px;
}

.social-menu li a
{
  color: $link-color;
  font-size: 24px;
}

.social-menu .social-facebook:hover
{
  color: #c0392b;

}

.social-menu .social-twitter:hover
{
  color: #c0392b;

}

.social-menu .social-medium:hover
{

  color: #c0392b;
}

.social-menu .social-behance:hover
{
  color: #c0392b;

}

.social-menu .social-linkedin:hover
{
  color: #c0392b;

}

.social-menu .social-deviantart:hover
{
  color: #c0392b;

}

.boundary
{
  width: 1420px;

  margin: 0px;
  margin-right: auto;
  margin-left: auto;

  padding: 0px;
}
