@import './templates/variables.scss';

$menu-text-size: 16px;


html
{

}


body
{
  display: grid;

  grid-template-rows: auto auto auto;
  grid-gap: 0px;

  margin: 0px;
  padding: 0px;

  width: 100%;

  background-color: $background-color;
}



.boundary
{
  width: 1420px;

  @extend %generic-feature-no-margin;
  @extend %generic-feature-margin-centralise-horizontal;

  padding: 0px;
}


.frontpage
{
  width: 100%;
  height: 600px;

  background-color: black;
  background-image: url('https://i.imgur.com/TznJANx.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}



.three-elements-container
{
  display: grid;

  width: 100%;
  min-height: 200px;

  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}


.three-elements-container .contain
{

}



.key
{
  font-family: $menu-and-link-font;
  text-align: center;
}

.title
{
  text-align: center;
  font-weight: bold;
  font-family: $menu-and-link-font;
}

#application
{


}

@import './templates/generic.scss';

@import './page/header.scss';
@import './page/footer.scss';
@import './page/navigation.scss';

@import './page/document.scss';

@import './site/frontpage.scss';

@import './platform/mobile.scss';
