<footer id="footer-area"
        class="overlay-area-dark-blue">
    <!-- -->
    <section>
        <div>
            <ul class="social-menu">
                <template v-for="item in navigation.footer.content.social_media">
                    <li>
                        <a v-bind:href="item.uri" 
                        v-bind:hreflang="item.language.acronym" 
                        v-html="item.show">
                        {{ item.show }}  
                        </a>
                    </li>
                </template>
            </ul>

        </div>
    </section>

    <section hidden> 
        <div class="bag-of-words">
            <p> 
                Browse all keywords 
            </p>

            <ul>
                
            </ul>
        </div>
    </section>

    <div class="boundary misc">
        <ul>
            <!-- -->
                <template v-for="item in navigation.footer.content.miscellaneous">    

                <!-- -->
                    <li v-if="item.type === 0">
                        <p>
                            {{
                                item.content
                            }} 
                        </p>
                    </li>
    
                <!-- -->
                    <li v-else-if="item.type === 1">
                        <a v-bind:href="item.uri">
                            {{
                                item.content
                            }} 
                        </a>
                    </li>

                </template>
        </ul>

    </div>

</footer>