/*

*/
.misc a
{
  color: $link-color;
  font-family: $menu-and-link-font;
  text-decoration: none;
}

.misc a:hover
{

    color: $link-color-activated;

}

.misc ul
{
  display: flex;
  list-style: none;

  margin: 0px;
  margin-top: 8px;
  margin-bottom: 8px;

  padding: 0px;

  justify-content: center;

  font-size: 12px;
}

.misc ul li
{
  margin: 0px;

  margin-left: 32px;
  margin-right: 32px;

}

.misc p
{
  color: $link-color;
  font-family: $menu-and-link-font;
  margin: 0px;
  padding: 0px;
}

footer ul
{
  padding: 0px;
  margin: 0px;

}
