/*

*/

header
{
  padding-top: 16px;
  padding-bottom: 16px;

}

.header-main-navigation-list
{


}

.header-main-navigation-list li
{
  list-style: none;
}

.header-main-navigation-list a
{
    color: $link-color;
    font-family: $menu-and-link-font;
    text-decoration: none;
}

header p
{

}


header ul
{
  @extend %generic-feature-no-margin;

}

.header-active-page
{
  border-bottom: 1px solid $link-color-activated;
}

.nav-header-menu ul
{
  padding: 0px;
}

.nav-header-menu p
{
  font-size: $menu-and-link-font;

  @extend %generic-feature-no-margin;
}

.nav-header-menu a
{
  color: $link-color;
  font-family: $menu-and-link-font;
  text-decoration: none;
}

.nav-header-menu a:hover
{
  color: $link-color-activated;
}


.header-navigation
{
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav-header-menu
{
  display: flex;

}

.nav-header-menu li
{
  list-style: none;

  margin-left: 8px;
  margin-right: 8px;
}

header
{
  padding-top: 16px;
  padding-bottom: 16px;

}


header p
{

}
